/* summary::marker {
  color: #00C6BB;
  margin-right: 10px;
} */
.policy-outer-frame {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: relative;
}
.policy-inner-frame {
  margin: 0 auto;
  width: 80%;
  max-width: 100%;
  min-width: 320px;
  text-align: left;
  overflow-y: auto;
}
.tiltle_name {
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
}
.linkfont_color {
  letter-spacing: 0.05em;
  font-size: 22px;
}
.submenu_font {
  letter-spacing: 0.05em;
  font-size: 20px;
}
.menu_div {
  width: 100%;
  height: 100%;
}

